<% if(messages && messages.error && messages.error.length > 0)  { %>
    <% for(var i=0; i<messages.error.length; i++) { %>
        
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative " role="alert" id="alert">
            <strong class="font-bold"><%= messages.error[i] %></strong>
           
          </div>
          <script> var alert = document.getElementById('alert'); 
          var close = document.getElementById('close')
          
           setTimeout(() => {
          
            alert.style.visibility = 'hidden';
          }, 3000);
//todo close the pop up on click
          function closeClicked(){
            console.log("hi")
            alert.style.visibility = 'hidden';
          }
        </script>

         
          
    <% } %>
  <% } %>