<header class="bg-white p-3 sticky">
    <div class="flex justify-between px-5">
        <div class="flex justify-center">
            <div class="mr-3">
              <a href="/"  ><img src="https://source.unsplash.com/XQWfro4LrVs"class="h-11 w-11 rounded-lg" alt="" /></a>
            </div>
                <p class="text-md font-semibold"><%=data.firstName%> <%=data.lastName%><span class="block text-sm font-light"><%=data.email%></span></p>

        </div>

        <a href="/signout" class="w-24 drop-shadow-2x bg-green-400 py-2 px-2 font-medium text-normal text-white text-center hover:bg-green-600 rounded-full">
            Sign Out
        </a>
    </div>

</header>